@page "/"


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="./css/style.css">
    <title>Grocery Store</title>
</head>
<body>
    <nav class="for_height">
        <div class="logo-container">
            <img src="./logo.png" alt="logo">
        </div>

        <div class="menu">
            <ul class="for_right">
                <li><a href="">Home</a></li>
                <li><a href="#Features">Features</a></li>
                <li><a href="#Products">Products</a></li>
                <li><a href="#Catagories">Catagories</a></li>
                <li><a href="#Contact">Contact us</a></li>
                <li class="signup"><a href="D:\New folder\Mudasser\Mudasser\css\signup.html">log in / sign up</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div>
            <img src="./banner.jpg" alt="Banner">
        </div>
        
    </section>



    <br><br><br><br><br><br><br><br>
    <section>
        <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="./img/banners/banner1.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="./img/banners/banner2.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="banner.jpg" style="width:100%">

            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            
    </section>


    <section id="Features">
        <br><br><br>
        <div class="feature-text">
            <h1>Our Features</h1>
        </div>
        <br><br>
        <div class="outer-div">

            <div class="first-div">
                <img src="image/feature-img-1.png" alt="">
                <h2>Fresh and Organic</h2>
                <p class="div-paragh">Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="read-more">
                    <button>Read more</button>
                </div>
            </div>


            <div class="first-div">
                <img src="image/feature-img-2.png" alt="">
                <h2>Food Delivery</h2>
                <p class="div-paragh">Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="read-more">
                    <button>Read more</button>
                </div>
            </div>
            <div class="first-div">
                <img src="image/feature-img-3.png" alt="">
                <h2>Easy Payment</h2>
                <p class="div-paragh">Lorem ipsum dolor sit amet, consectetuer 
                    adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="read-more">
                    <button>Read more</button>
                </div>
            </div>

        </div>
    </section>

<!-------Products-->
<section id="Products">
    <br><br><br>
    <div class="Products-text">
        <h1>Our Products</h1>
    </div>
    <br><br>
    <div class="outer-div">

        <div class="first-div">
            <img src="image/product-1.png" alt="">
            <h2>Fresh Orange</h2>
            <p class="div-paragh">upto 45% off</p>
                <div class="read-more">
                <button>Shop now</button>
            </div>
        </div>


        <div class="first-div">
            <img src="image/cat-2.png" alt="">
            <h2>Fresh Fruits</h2>
            <p class="div-paragh">upto 45% off</p>
                <div class="read-more">
                <button>Shop now</button>
            </div>
        </div>
        <div class="first-div">
            <img src="image/cat-3.png" alt="">
            <h2>Dairy Products</h2>
            <p class="div-paragh">upto 45% off</p>
                <div class="read-more">
                <button>Shop now</button>
            </div>
        </div>

    </div>
</section>

<!---------Products---------->



    <!-----catogories-->
    <section id="Catagories">
        <br><br><br>
        <div class="Catagories-text">
            <h1>Our Catagories</h1>
        </div>
        <br><br>
        <div class="main-div">

            <div class="one-div">
                <img src="image/cat-1.png" alt="">
                <h2>Vegetables</h2>
                <p class="div-paragh">upto 45% off</p>
                    <div class="read-more">
                    <button>Shop now</button>
                </div>
            </div>


            <div class="two-div">
                <img src="image/cat-2.png" alt="">
                <h2>Fresh Fruits</h2>
                <p class="div-paragh">upto 45% off</p>
                    <div class="read-more">
                    <button>Shop now</button>
                </div>
            </div>
            <div class="three-div">
                <img src="image/cat-3.png" alt="">
                <h2>Dairy Products</h2>
                <p class="div-paragh">upto 45% off</p>
                    <div class="read-more">
                    <button>Shop now</button>
                </div>
            </div>

            <div class="four-div">
                <img src="image/cat-4.png" alt="">
                <h2>Dairy Products</h2>
                <p class="div-paragh">upto 45% off</p>
                    <div class="read-more">
                    <button>Shop now</button>
                </div>
            </div>

        </div>

    </section>
<!------Catogoires------->


    

   
<br><br>
       <!-----form   -->
       
      
      <br><br><br><br><br><br>
     
      <section class="footer">
          <div class="footer-outer">
              <div class="footer-img">
                  <img src="./logo.png" alt="logo">
              </div>
      
              
          
              <div class="content-div" id="Contact">
                  <h1>Contact us</h1>
                  <br>
                  <h3>Email: mudassarjani096@gmail.com</h3>
                  <h3>Phone: +923344420654</h3>
                  <h3>Location: Diamond Market cantt sialkot</h3>
              </div>
          </div>
         </section>


   @*<script src="./script.js"></script>*@
</body>
</html>